* {
    
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: #101010;
    font-family: 'Arvo', serif;
    
    
  }

  nav {
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: white;
    z-index: 100;
  }

  nav a {
    float: right;
    color: #ff8724;
    text-align: center;
    padding: 1.5rem;
    text-decoration: none;
    font-size: 1.3em;
  }
  
  nav a:hover {
    background-color: #000;
    border-bottom: 2px solid white;
    
  
  }
  
  nav a.active {
    background-color: #000;
    border-bottom: 2px solid white;
    color: #ff8724;
  }

  main { 
      display: flex;
      flex-direction: row-reverse;
      margin:0;
      background: url("./image/img2.jpg") no-repeat black;
      background-position: -1000% 55%;
      background-size: 98%;
  }
  
 #principal { 
    position: relative;
    right: 3rem;
    overflow: auto;
    font-family: 'Arvo', serif;;
    font-weight:100; 
    background: rgba(30,30,30,0.9);
    color: white;
    padding: 4rem 2rem 4rem 4rem;
    width: 35%;;
    margin-top:3rem;
    margin-right: 2rem;
    font-size: 1.2rem;
    height: 40rem; 
  }
  #principal::-webkit-scrollbar {
    width:0.3em;
    }
     
  #principal::-webkit-scrollbar-track {
    background:#333;
    }
     
  #principal::-webkit-scrollbar-thumb {
    background: #fff;
    }

  h1 {
    margin: 0;
    font-size: 3rem;
  }

  p {
    text-indent: 2rem;
  }

  .espaco {
    height: 20rem;
    background: white;
    text-align: center;
    padding-bottom:0;
    margin-bottom:0;
  }

  .espaco h1 {
    padding-top: 8rem;
    margin:0;
  }


  section {
      width: 95%;
      margin: 4rem auto;
      position: relative;
      display: grid;
      color: white;
      grid-template-columns: 1fr  1fr  1fr  1fr ;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "caixa1 caixa2 caixa3 caixa4"
                           "caixa1 caixa5 caixa6 caixa7"
                           "caixa1 caixa8 caixa9 caixa10";
      grid-gap: 1rem;
      
      
  }


  .caixa1 {
    overflow: hidden;
    grid-area: "caixa1";
    text-align: justify;
    padding: 0 1rem 2rem 1rem;
    border: 2px solid white;
    font-size: 1.2rem;
    height: 62.5rem;
    grid-area: caixa1;
  }

  .caixa1:hover {
    overflow-y: auto;
  }

  .caixa1 h2 {
    color: red;
    text-align: center;
  }
  .caixa1:hover::-webkit-scrollbar {
    width:0.2em;
    }
     
  .caixa1:hover::-webkit-scrollbar-track {
    background:#333;
    }
     
  .caixa1:hover::-webkit-scrollbar-thumb {
    background: #fff;
    }

 

  .caixa {
    font-size: 1rem;
    padding: 1rem; 
    color: red;
    overflow: hidden;
    overflow-x: hidden;
    padding: 0.6rem 1rem 0.5rem 1rem;
    height: 20rem;
    border-bottom: 0.5px dotted rgba(150,150,150, 0.5);
  }

  .caixa:hover {
    overflow:auto;
  }

  .caixa2 {
    grid-area: caixa2;
  }

  .caixa3 {
    grid-area: caixa3;
  }

  .caixa4 {
    grid-area: caixa4;
  }

  .caixa5 {
    grid-area: caixa5;
  }

  .caixa6 {
    grid-area: caixa6;
  }

  .caixa7 {
    grid-area: caixa7;
  }

  .caixa8 {
    grid-area: caixa8;
  }

  .caixa9 {
    grid-area: caixa9;
  }

  .caixa10 {
    grid-area: caixa10;
  }

  .caixa::-webkit-scrollbar {
    width:0.2em;
    }
     
  .caixa::-webkit-scrollbar-track {
    background:#333;
    }
     
  .caixa::-webkit-scrollbar-thumb {
    background: #fff;
    }

  .span-bg {
    font-size: 0.7rem;
  }

  footer {
   
    background: white;
    height:3rem;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
  }

  @media only screen and (max-width: 1024px) {
    main { 
      display: flex;
      flex-direction: row-reverse;
      margin:0;
      background: url("./image/img2.jpg") no-repeat black;
      background-position: -1500% 55%;
      background-size: 98%;
  }

    #principal { 
      position: relative;
      right:0;
      overflow: auto;
      font-family: 'Arvo', serif;
      font-weight:100; 
      background: rgba(30,30,30,0.5);
      color: white;
      padding: 3rem 2rem 3rem 2rem;
      width: 70%;;
      margin-top:3rem;
      margin-right: 2rem;
      font-size: 1.2rem;
      height: 40rem; 
    }

    section {
      width: 95%;
      margin: 4rem auto;
      position: relative;
      display: grid;
      color: white;
      grid-template-columns: 1fr  1fr  1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "caixa1 caixa2 caixa3"
                           "caixa1 caixa4 caixa5"
                           "caixa1 caixa6 caixa7"
                           "caixa8 caixa9 caixa10";                                              
      grid-gap: 1rem;   
  }

  .caixa1 {
    grid-area: caixa1;
  }
  .caixa2 {
    grid-area: caixa2;
  }

  .caixa3 {
    grid-area: caixa3;
  }

  .caixa4 {
    grid-area: caixa4;
  }

  .caixa5 {
    grid-area: caixa5;
  }

  .caixa6 {
    grid-area: caixa6;
  }

  .caixa7 {
    grid-area: caixa7;
  }

  .caixa8 {
    grid-area: caixa8;
  }

  .caixa9 {
    grid-area: caixa9;
  }

  .caixa10 {
    grid-area: caixa10;
  }

  .caixa11 {
    grid-area: caixa11;
  }

  }

  @media only screen and (max-width: 425px) {
    main { 
      display: block;
      flex-direction: center;
      margin:0;
      background: none;    
  }

  nav a {
    float: right;
    color: #ff8724;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 0.8em;
  }

  #principal { 
    position: relative;
    right:0;
    font-family: 'Arvo', serif;
    font-weight:100; 
    background: rgba(30,30,30,0.5);
    color: white;
    padding: 4rem 0 0 1rem;
    width: 95%;;
    margin-top:0;
    
    font-size: 1rem;
    
  }

  section {
    width: 99%;
    margin: 4rem auto;
    position: relative;
    display: grid;
    color: white;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "caixa1"
                         "caixa2"
                         "caixa3"
                         "caixa4"
                         "caixa5"
                         "caixa6"
                         "caixa7"
                         "caixa8"
                         "caixa9"
                         "caixa10";                                              
    grid-gap: 1rem;   
}

.caixa1 {
  grid-area: caixa1;
}
.caixa2 {
  grid-area: caixa2;
}

.caixa3 {
  grid-area: caixa3;
}

.caixa4 {
  grid-area: caixa4;
}

.caixa5 {
  grid-area: caixa5;
}

.caixa6 {
  grid-area: caixa6;
}

.caixa7 {
  grid-area: caixa7;
}

.caixa8 {
  grid-area: caixa8;
}

.caixa9 {
  grid-area: caixa9;
}

.caixa10 {
  grid-area: caixa10;
}

.caixa11 {
  grid-area: caixa11;
}

}
   
  
